[project]
	description = This is the LVM bin which OPPO used on Find7, and its source code.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Roppofon
[access "refs/for/refs/*"]
	read = group user/Roppofon
	push = group user/Roppofon
	label-Code-Review = -2..+2 group user/Roppofon
	label-Verified = -1..+1 group user/Roppofon
	rebase = group user/Roppofon
	removeReviewer = group user/Roppofon
	submit = group user/Roppofon
[access "refs/heads/*"]
	read = group user/Roppofon
	create = group user/Roppofon
	push = +force group user/Roppofon
	pushMerge = group user/Roppofon
[access "refs/tags/*"]
	push = +force group user/Roppofon
	pushTag = group user/Roppofon
	pushSignedTag = group user/Roppofon
